@import "tailwindcss";

.nav-item a,
.nav-item button {
  position: relative;
  transition: color 0.3s ease;
}

/* Highlight the active link */
.active-link {
  color: #da6f28;
}

/* Animated underline */
.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #da6f28;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
